<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node js passport app</title>
    
</head>
<body>
    <body>
        <div>
        <h1>HALLÅÅÅÅ!!!222</h1>
        <a href="/users/register">Register</a>
        <br>
        <a href="users/login">Login</a>
    </div>
    </body>
</body>
</html>