body{
    background-color: #f0c29b;
}


form{
    margin-top: 50px;
    margin-left:  575px;
}

label{
    margin-right:20px;
}

#submtbtn{
    cursor: not-allowed;
    margin-left: 120px;
}

.wrapper, .button{
    background: #fff;
    margin-left:500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    left:30px;
    max-width:365px;
    border-radius:15px;
    text-align:center;
    padding: 25px 25px 30px 25px;
}

.wrapper.hide{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease ;
}
